<html>
	<head><strong> Guess the Secret number!!! </strong> </head>
	<body>
		<p>"Type in a number between 1 and 100"</p>
	</body>
	<body style= 'background: orange'>

	<form>
		<input type= 'text' name= 'guess' />
		<input type= 'submit' value= 'Guess!' />
	</form>
</html>	

<% if params["guess"].to_i > number.to_i %>
  You have guessed too high
<% elsif params["guess"].to_i < number.to_i %>
  You have guessed too low
<% else params["guess"].to_i == number.to_i %>
  You are correct!!
  The secret number is <%= number %>
<% end %>
